*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
    background-color: #63C6FF;
}
.header{
    height: 10vh;
    max-height: 93px;
    min-height: 50px;
}
.header-wrapper{
    height: 10vh;
    float:left
}
.header-title{
    font-size: 5vw;
    margin-left: 10px;
    line-height: 10vh;
}
.navigation{
    height: 10vh;
    float: right;
    width: 30%;
}
.menu{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    
}
.desktop-navigation-drawer{
    display: none;
}
.content{
    height: 45vh;
    background:url('BG.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-wrapper{
    display: flex;
    align-items: center;
    height: 40vh;
    justify-content: space-around;
}
.content-title{
    font-size:4vw;
   
}
.some-text{
    font-size: 3vw;
}
.content-text{
    width: 40%;
}
.content-image{
    width: 50%;
    align-self: center;
    height: 30vh;
    background: url('blog.svg');
    background-position: center;
    background-size: 100%;
    max-height:700px;
    background-repeat: no-repeat;
    
}

.drawer{
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes drawDrawerAnim{
    from { 
        width: 0%;
        display: none;
    }
    to { 
        width: 100%;
        display: flex;
    }
}

@keyframes closeDrawerAnim{
    from { 
        width: 100%;
        display: flex;
    }
    to { 
        width: 0;
        display: none;
    }
}

ul{
    list-style-type: none;;
}
.drawer-links{
    width: 90%;
    display: flex;
    align-items: center;
    display: none;
    flex-direction: column;
}
.drawer-link{
    flex-basis: 50px;
    font-size: 24px;
}
.drawer-content{
    width: 80%;
    height:600px;
   display: flex;
   justify-content: center;
}
.desktop-post{
    display: none;
}
.cta{
    background-color: #FFFFFF;
    width: 60%;
    font-size: 2vw;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.post{
 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: #FFFFFF;

}
.post-wrapper{
    width: 80%;
    overflow: auto;
    white-space: nowrap;
}
.card{
    width: 80%;
    height: 40vh;
    margin-left: 25px;
    display: inline-block; 
    border-radius: 25px;
}
.anchor{
    position: absolute;
    left: 0;
}
.card1M{
  
    background: url('/images/pre.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.card2M{
    
    background: url('/images/spanish.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.card3M{

    background: url('/images/ameri.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.mycard{
    width: 50%;
    height: 10vh;
    background-color:red;
}

.footer{
    height: 10vh;
}

.bg2{
    background-color: #FFFFFF;
}
.color1{
    color: #63C6FF
}
.color2{

    color: #FFFFFF;

}
.title{
    font-weight: 600;
}
.no-deco{
    text-decoration: none;
}
.inner {
    width: 80%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #eee3e3;
}
.font1{
    font-size: 5vw;
}
.link{
    list-style-type: none;
}
.color3{
    color: black;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image {
    grid-area: image;
    background: url('./images/img1.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-image-mobile{
    height: 100px;
    background:url('./images/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
  }
  .card-stats .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .card-stats .border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
  }
  .card-stats .value{
    font-size:22px;
    font-weight: 500;
  }
  .card-stats .value sup{
    font-size:12px;
  }
  .card-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .container:hover {
   
  }
  
  /*card2*/
  .card-image.card2 {
    background: url("/images/tax.jpg");
    background-size: cover;
  }
  .card-text.card2 .date {
    color: rgb(255, 77, 7);
  }
  .card-stats.card2 .border {
    border-left: 1px solid rgb(185, 67, 20);
    border-right: 1px solid rgb(185, 67, 20);
  }
  .card-stats.card2 {
    background: rgb(255, 77, 7);
  }
  /*card3*/
  .card-image.card3 {
    background: url("/images/img3.jpg");
    background-size: cover;
  }
  .card-text.card3 .date {
    color: rgb(0, 189, 63);
  }
  .card-stats.card3 .border {
    border-left: 1px solid rgb(14, 122, 50);
    border-right: 1px solid rgb(14, 122, 50);
  }
  .card-stats.card3 {
    background: rgb(0, 189, 63);
  }
  .Read{
      text-decoration: none;
      display: inline-block;
      padding: 2rem 8rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 1rem;
      color: #fff;
      width: 100%;
      text-decoration: none;
      
  }

  
.mobile-container {
    display: flex;
    flex-direction: column;
    width: 25px;
  }

@media only screen and (min-width: 600px) {
    .header-title{
        font-size: 28px;
    }
    .icon{
        font-size: 42px !important;
    }
    
    .cta{
        font-size: 22px;
        width: 60%;
    }
    .content-title{
        font-size: 22px;
    }
    .some-text{
        font-size: 20px;
    }
    .content-image{
        background-size: 80%;
        align-self: center !important;
        height: 60vh;
    }
    .blog-title-wrapper{
        max-height: 60px !important;
    }
    .blog-title{
        font-size:22px
    }
  }

  @media only screen and (min-width:900px){
    .desktop-navigation-drawer{
        display: block;
        float: right;
        width: 50%;
        display: flex;
        height: 10vh;
        max-height: 93px;
        justify-content: center;
        align-items: center;
        min-height: 50px;
    }
    .desktop-nav{
        width: 70% !important;
    }
    .content-image{
        display: block;
    }
    
    .navigation{
        display: none;
    }
    .content-image{
        height: 50
        backgrou
    }
  }
  @media only screen and (min-width: 1100px) {
   .content{
       height: 70vh;
   }
   .blog-title{
    font-size:32px;
    margin-left: 75px;
}
   .content-image{
       background-size: 70%;
       align-self: center !important;
       height: 60vh;
   }
   .content-wrapper{
       height: 60vh;
    
   }
   .cta{
    font-size: 22px;
    width: 80%;
}   
.post{
    height: 70vh;
}
.post-wrapper{
    display:none;
}
.desktop-post{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desktop-card{
    width: 20%;
    height: 50vh;
}
.content-image{
    background-size: 90%;
    align-self: center !important;
    height: 60vh;
}
  }
  @media only screen and (min-width: 1200px) {
    .content-title{
        font-size: 32px;
    }
    .some-text{
        font-size: 28px;
    }
    .cta{
        font-size: 24px;
        width: 40%;
    }
    .content{
        height: 70vh;
    }

  }